<%= for todo <- @todos do %>
  <div><%= todo.title %></div>
<% end %>

<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "你想干啥" %>
  <%= submit "Add", phx_disable_with: "Adding..." %>
</form>
